@import 'https://fonts.google.com/specimen/Alegreya';

*{
	margin:0;
	padding: 0;
	border: 0;
}
body{
	background: #F5F5F5;
	color: #67727A;
	font-family: 'Alegreya', sans-serif;
}
h2{
	font-size: 250%;
	font-weight: 700;
	text-align: center;
	padding-top: 2%;
	color: #F5F5F5;
}
h3{
	font-size: 175%;
	line-height: 155%;
	padding: 5% 0;
	font-weight: 400;
	color: #F5F5F5;
}
p{
	font-family: 'Alegreya', sans-serif;
	color: #F5F5F5;
	font-size:  160%;
	line-height: 150%;
	padding: 3%;
	text-indent: 2%;
	text-align: justify;
}
img{
	max-width: 100%;
	height: auto;
	width: auto;
	margin-bottom: -4px;
}
header{
	background-color: #a2b1c1;
    width: 100%;
    position: fixed;
    height: 86px;
    z-index: 10;
}
#header-inner{
	max-width: 1200px;
	margin: 0 auto;
}
#logo{
	margin: 20px;
	float: left;
	width: 200px;
	height: 60px;
	background: url(img/RD.png) no-repear center;
}

nav{
	float: right;
	padding: 25px 20px 0 0;
}
#menu-icon{
	display: hidden;
	width: 40px;
	height: 40px;
	background: url(img/nav.png) center;
}
a:hover#menu-icon{
	border-radius: 4px 4px 0 0;
}
ul{
	list-style-type: none;
}
nav ul li{
	font-family: 'Alegreya', sans-serif;
	font-size: 150%;
	display: inline-block;
	float: left;
	padding: 10px;
}
nav ul li a{
	color: #F5F5F5;
	text-decoration: none;
}
nav ul li a:hover{
	color: #C3D7DF;
}
.current{
	color: #C3D7DF;
}

.banner{
	width: 100%;
	background-color: #6991AC;
}
.banner-inner{
	max-width: 1100px;
	margin: 0 auto;
}
.one-fourth{
	width: 25%;
	float: left;
	text-align: center;
}
#html{
	background-color: #F1AA90;
}
#css{
	background-color: #BEB9AD;
}
#seo{
	background-color: #AADCD2;
}
#social{
	background-color: #A2B2C1;
}
.one-fourth i{
	color: #F0F0F0;
	font-size: 500%;
	padding: 13% 0 4% 0;
}
.inner-wrapper{
	float: left;
	width: 100%;
	background-color: #D3D7DF;
}
article{
	float: left;
	margin: 0 auto;
	width: 50%;
	height: auto;
}
#tablet{
	background-color: #C3D7DF;
}
aside{
	float: right;
	margin: 0 auto;
	width: 50%;
	height: auto;
}
#tablet2{
	background-color: #A2B1C1;
}
#mobile{
	background-color: #BEB9AD;
}
#destop{
	background-color: #F1AA90;
}
.inner-wrapper-2{
	float: left;
	width: 100%;
	background-color: #C3D7DF;
}
.inner-wrapper-3{
	float: left;
	width: 100%;
	background-color: #AADCD2;
}
.one-third{
	width: 33.3333333%;
	float: left;
	text-align: center;
}
#google{
	background-color: #A2B1C1;
}
#marketing{
	background-color: #BEB9AD;
}
#customers{
	background-color: #AADCD2;
}
/*--- start footer---*/
footer{
	background-color: #6991AC;
	width: 100%;
}
.social{
	list-style-type: none;
	text-align: center;
}
.social li{
	display: inline;
}
.social i{
	font-size: 450%;
	margin: 1%;
	padding: 5% 5% 5% 4%;
	color: #C3D7DF;
}
.social i:hover{
	color: #F5F5F5;
}
footer.second{
	border-top: 2px solid #6991ac;
	background-color: #544B59;
	max-height: 55px;
	text-align: center;
	margin: 0;
}
footer.second p{
	padding: 5px 0 9px 0;
	text-align: center;
}

@media screen and (max-width: 768px){
	h2{
		font-size: 150%;
	}
	h3{
		font-size: 125%;
	}
	p{
		font-size: 120%;
	}
	header{
		position: absolute;
	}
	#logo{
		margin: 15px 0 20px -25px;
	}
	#menu-icon{
		display: inline-block;
	}
	nav ul, nav:active ul{
		display: none;
		z-index: 1000;
		position: absolute;
		padding: 20px;
		background: #6991AC;
		right: 20px;
		top: 60px;
		border: 1px solid #FFF;
		border-radius: 2px 0 2px 2px;
		width: 50%;
	}
	nav:hover ul{
		display: block;
	}
	nav li{
		text-align: center;
		width: 100%;
		padding: 10px 5px 10px 5px;
	}
	.banner{
		padding: 86px;
	}
	.one-fourth{
		float: left;
		width: 100%;
	}
	.one-fourth i{
		font-size: 350%;
		padding: 4% 0 1% 0;
	}
	article{
		width: 100%;
	}
	aside{
		width: 100%;
	}
	#hand-mobile{
		display: none;
	}
	.one-third{
		width: 100%;
	}
	.social i{
		font-size: 180%;
	}
	.tel{
      display: inline-block;
          width: 100%;
    padding-left: 0;
    padding-right: 20%;
    padding-top: 8%;
	}
	.banner{
		width: 73%;
		padding-left: 0;
	}
}

.tel{

      display: inline-block;
          width: 16%;
    padding-left: 20%;
    padding-top: 8%;
}
.telefono,
.boton {
  border: 2px solid #ccc;
     background-color: #D3D3D3;
}
.telefono {
  display: inline-block;
  background-color: white;
  border-radius: 25px;
  height: 490px;
  margin: 0 auto;
  position: relative;
  width: 240px;
  }
.telefono__btn-arriba__encendido {
  background-color: white;
  height: 0.5%;
  position: absolute;
  right: 14.5%;
  top: -1.25%;
  width: 14.5%;
}
.telefono__btn-izquierda {
  height: 490px;
  left: -1.5%;
  margin-top: 20%;
  position: absolute;
  top: 0;
  width: 1.5%;
}
.telefono__btn-izquierda > div {
  background-color: white;
}
.telefono__btn-izquierda__arriba {
  height: 6%;
  margin-bottom: 500%;
}
.telefono__btn-izquierda__medio {
  height: 4%;
  margin-bottom: 400%;
}
.telefono__btn-izquierda__abajo {
  height: 4%;
  margin-bottom: 400%;
}
.telefono__arriba {
  height: 10%;
  position: relative;
}
.telefono__arriba__auri {
  border: 2px solid #ccc;
  border-radius: 15px;
  height: 7%;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 28%;
}
.telefono__pantalla {
  background-color: #000000;
  height: 80%;
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 94%;
  background-size: 100%;
}
.telefono__pantalla .carousel-inner {
  height: 100%;
}
.telefono__abajo {
  bottom: 0;
  height: 10%;
  left: 0;
  position: absolute;
  width: 100%;
}
.telefono__abajo__circulo {
  border: 2px solid #ccc;
  border-radius: 50%;
  height: 60%;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 12.5%;
}
.h_iframe iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%; 
  height:100%;
}
.logos{
      width: 105px;
    padding-top: 11%;
        height: 93px;
}
.list-item-1 {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-item-1 li {
  color: #f1f1f1;
  margin: 5px 0 5px 10px;
}
.list-item-1 li:before {
  content: '\25ca';
  display: inline-block;
  color: white;
  padding: 2px;
  border-radius: .5px;
  float: left;
  clear: left;
  text-shadow: -1px -1px 0 #b0dbd9;
  margin-left: -10px;
  padding: 2px 10px 0 0;
}
.mob{
	padding-left: 25%;
    padding-top: 5%;
}
.mobTwo{
	padding-left: 0%;
    padding-top: 25%;
}
.list-item-1 {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-item-1 li {
  color: #f1f1f1;
  margin: 5px 0 5px 10px;
}
.list-item-1 li:before {
  content: '\25ca';
  display: inline-block;
  color: white;
  padding: 2px;
  border-radius: .5px;
  float: left;
  clear: left;
  text-shadow: -1px -1px 0 #b0dbd9;
  margin-left: -10px;
  padding: 2px 10px 0 0;
}
.parrafo{
	color:  #6991ac;
}
